
nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 3rem;
}

nav a{
    font: 500 1.5rem sans-serif;
    color: rgb(30, 145, 200 );
    text-decoration: none;
    margin: 0 1rem;
}